
body {
	background-color: #D9D9D9;
}
#kenburns_slideshow {
	position: relative;
	width:600px;
	height: 360px;
	background-color:black;
	border:22px solid #191919;
	z-index: 1;
	overflow: hidden;
}
.loader {
	width:32px;
	height:32px;
	background:url(../images/loading_circle.gif);
}
.kb-slide{
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	opacity: 0;
/*	filter:inherit;
*/}

.kb-slide img{
	position: relative;
	top:0;
	left:0;
/*	width:100%;
	height:100%;*/
/*	filter:inherit;
*/	-webkit-transform: translate3d(0,0,0)
	-moz-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;

/*	-webkit-transform-origin:left top;
*/
}

/*	opacity: 0;
*//*	position: absolute;
	top:0;
	left: 0;

}
.animating {
	-webkit-transition:-webkit-transform 6s cubic-bezier(.81, 0, .26, 1);
}

button {
	position: relative;
	z-index: 50;
}



