#kenburns_slideshow {
	position: relative;
	width:360px;
	height: 240px;
	background-color:black;
	border:1px solid red;
	z-index: 1;
	overflow: hidden;
}
.kb-slide{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
}

.kb-slide img{
	position: absolute;

	-webkit-transform: translate3d(0,0,0)
	-moz-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
/*	-webkit-transform-origin:left top;
*/
}

/*	opacity: 0;
*//*	position: absolute;
	top:0;
	left: 0;

}
.animating {
	-webkit-transition:-webkit-transform 6s cubic-bezier(.81, 0, .26, 1);
}

button {
	position: relative;
	z-index: 50;
}



